* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Chau Philomene One;
  color: white;
  text-align: center;
  max-width: 100%;
}

.menu {
  padding: 7rem 15rem;
  display: flex;
  justify-content: center; 
  background-color: rgb(11, 168, 188);
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), 
              url('./img/imgs/o-que-e-quimica-historia-definicao-utilidades-e-suas-areas.jpg') no-repeat center fixed;
  background-size: cover;
  background-position: center;
}

.menu {
  display: flex;
  justify-content: space-between; 
  align-items: center; 

img {
 height: 17rem;
 width: 16rem;
  }
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.botao {
  background-color: #E000B2;
  color: white;
  padding: 4rem 15rem;
  border-radius: 17rem;
  text-decoration: none;
  font-weight: 100rem;
  transition: background 0.4s;
  font-size: 4.0rem;
  max-width: 100%;
  font-family: 'Chau philomene one';
  
}
.botoes {
  display: flex;
  gap: 10rem;
}

.button:hover {
  background-color: #c6009a;
}

.conteudo {
  margin-top: 50px;
}

h1 {
  font-size: 28rem;
  margin-bottom: 20px;
  font-family:'Chau philomene one';
}

.conteudo img {
  width: 136rem;
  height: 50rem;  
  margin-top: 25rem;
  mix-blend-mode: lighten;
}

p {
  font-size: 6.8em;
  margin-top: 15rem;
  font-family: 'roboto';
}

botoes {
  display: inline-block;
  background-color: #E000B2;
  color: white;
  padding: 15px 40px;
  border-radius: 30px;
  font-size: 1.9em;
  font-weight: 100rem;
  text-decoration: none;
  cursor: pointer;               
  transition: background-color 0.3s ease
}

.botao:hover {
  background-color: #c024b0;
}

.botao-saiba-mais {
  background-color: #E000B2;
  color: white;
  font-size: 10rem;
  padding: 100px 28rem;            
  border: none;                 
  border-radius: 50rem;                        
  font-weight: ;            
  font-family:'Chau philomene one';       
  cursor: pointer;               
  transition: 0.3s ease;  
  margin-top: 10rem;
}

.botao-saiba-mais:hover {
  background-color: #c024b0;
}